/* ResponsiveNess */


@media (max-width: 1890px) {
   .lrg-txt h1 {
      font-size: 225px;
   }
}

@media (max-width: 1700px) {
   .lrg-txt h1 {
      font-size: 205px;
   }



}

@media (max-width: 1550px) {
   .lrg-txt h1 {
      font-size: 185px;
   }
}

@media (max-width: 1410px) {
   .lrg-txt h1 {
      font-size: 155px;
      padding-bottom: 30px;
      padding-right: 10px;
   }



}

@media (max-width: 1280px) {
   .pic img {
      height: 540px;
      width: 540px;
   }



}

@media (max-width: 1180px) {
   .lrg-txt h1 {
      font-size: 145px;
      padding-bottom: 50px;
      padding-right: 20px;
   }



}

@media (max-width: 1105px) {
   .lrg-txt h1 {
      font-size: 130px;
      padding-bottom: 70px;
      padding-right: 20px;
   }
}

@media (max-width: 985px) {
   .lrg-txt h1 {
      font-size: 115px;

   }
}

@media (max-width: 945px) {

   .box1,
   .box2,
   .box3,
   .box4 {
      height: 402px;
      width: 402px;
   }
}

@media (max-width: 875px) {

   .box1,
   .box2,
   .box3,
   .box4 {
      height: 350px;
      width: 350px;
   }
}


@media (max-width: 855px) {
   .lrg-txt h1 {
      font-size: 110px;

   }
}

@media (max-width: 820px) {
   .lrg-txt h1 {
      word-spacing: 10px;
      font-size: 100px;
      padding-bottom: 40px;
      padding-right: 20px;
   }


}

@media (max-width: 775px) {
   .lrg-txt h1 {
      font-size: 97px;
      padding-right: 0;
      font-weight: 400;
   }


   .box1,
   .box2,
   .box3,
   .box4 {
      height: 312px;
      width: 312px;
   }

   .left ul>a>i {
      display: block;
   }

   .left ul li a {
      display: none;
   }

   #search-icon {
      display: none;
   }

   #acc-icon {
      display: none;
   }

   .center {
      width: 100%;
      padding-right: 38px;

      & h3 a {
         font-size: 17.6px;
      }
   }

   .left {
      padding-left: 15px;
   }

   .right {
      padding-right: 15px;


   }

   .nav {
      padding-right: 10px;
      padding: 20px 10px;
   }

   .rght-1 {
      flex-wrap: wrap;
   }

   .left-2 {
      padding-left: 0;
      height: 90%;
      padding-bottom: 27px;

   }

   .right-2 {
      padding-top: 0;
      height: 90%;
      padding-left: 15px;
   }

   .pt-12 {
      height: 70%;
   }

}

@media (max-width: 690px) {

   .box1,
   .box2,
   .box3,
   .box4 {
      height: 255px;
      width: 255px;
   }
}

@media (max-width: 565px) {}

@media (max-width: 635px) {

   .center {
      font-size: 11.5px;
   }

   .lrg-txt h1 {
      font-size: 55px;
   }







   .teext>h4 {
      filter: brightness(100%);
   }




   .shop a {
      font-size: 12px;
   }
}

@media (max-width: 560px) {
   .teext>h4 {
      font-size: 50px;
   }
}


@media (max-width: 550px) {
   .lrg-txt h1 {
      padding-bottom: 40px;
      font-size: 65px;
      padding-right: 0;
      font-weight: 300;
   }

   .products .heading h5 {
      padding-left: 10px;
      padding-bottom: 15px;
   }

   .content2 {
      padding-top: 25px;
      margin: 0;
      overflow: hidden;
      width: 96.5%;
      margin: auto;
   }

   .boxes {
      justify-content: start;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: auto;
      overflow-y: hidden;
      padding-left: 0px;


   }

   .box1,
   .box2,
   .box3,
   .box4 {
      display: inline-block;
      overflow: hidden;

      height: 305px;
      width: 305px;


   }


   #banner1 {
      height: 375px;
   }




   .box1 {



      & h5 {
         margin-left: 350px
      }
   }

   .box2 {



      & h5 {
         margin-left: 350px
      }
   }

   .box3 {



      & h5 {
         margin-left: 350px
      }
   }

   .box4 {



      & h5 {
         margin-left: 350px
      }

   }

   .teext>h4 {
      font-size: 48px;
   }

   .teext>p {
      font-size: 13px;
      color: white;
   }

   .write {
      padding-top: 50px;
      padding-bottom: 40px;
   }

   .write .wte p {
      font-size: 20px;
      line-height: 27px;
   }

}

@media (max-width: 440px) {
   .lrg-txt h1 {
      font-size: 48px;
      padding-right: 0;
      font-weight: 400;
   }


   .box1 {



      & h5 {
         margin-left: 340px
      }
   }

   .box2 {


      & h5 {
         margin-left: 340px
      }
   }

   .box3 {



      & h5 {
         margin-left: 340px
      }
   }

   .box4 {



      & h5 {
         margin-left: 340px
      }
   }

   .banner {
      height: 400PX;
   }

   .banner1 {
      height: 400PX;
   }


   .teext>h4 {
      font-size: 34px;
   }

   .teext>p {
      font-size: 12px;
      color: white;
      width: 58%;
   }


   .mytext span {
      font-size: 12px;
   }

   .icons ul li a {
      font-size: 12px;
   }

   .icons ul {
      gap: 8px;
   }

}

@media (max-width: 415px) {
   .lrg-txt h1 {
      font-size: 52px;
      padding-right: 0;
      font-weight: 400;
      padding-bottom: 60px;
   }

   .content {
      padding-bottom: 10px;
   }


   .box1 {


      & h5 {
         margin-left: 305px
      }
   }

   .box2 {



      & h5 {
         margin-left: 305px
      }
   }

   .box3 {



      & h5 {
         margin-left: 305px
      }
   }

   .box4 {



      & h5 {
         margin-left: 305px
      }
   }

   .teext>h4 {
      font-size: 38px;
   }

   .teext>p {
      font-size: 11px;
      color: white;
   }

}

@media (max-width: 390px) {
   .lrg-txt h1 {
      font-size: 47px;
      padding-right: 0;
      font-weight: 400;
   }

   .box1 {



      & h5 {
         margin-left: 280px
      }
   }

   .box2 {


      & h5 {
         margin-left: 280px
      }
   }

   .box3 {

      & h5 {
         margin-left: 280px
      }
   }

   .box4 {



      & h5 {
         margin-left: 280px
      }
   }

   .teext>h4 {
      font-size: 37px;
   }

   .teext>p {
      font-size: 10px;
      color: white;
   }


}

@media (max-width: 380px) {
   .lrg-txt h1 {
      font-size: 45px;
   }

   .teext>h4 {
      font-size: 32px;
   }

   .teext>p {
      font-size: 9px;
      color: white;
   }

   .write {
      padding-top: 30px;
      padding-bottom: 20px;
      gap: 30px
   }

   .write .wte p {
      font-size: 18px;
      line-height: 24px;
   }


}

@media (max-width: 361px) {
   .lrg-txt h1 {
      font-size: 43px;
      padding-right: 0;
      font-weight: 400;
      padding-bottom: 30px;
   }



   .box1 {


      & h5 {
         margin-left: 260px
      }
   }

   .box2 {



      & h5 {
         margin-left: 260px
      }
   }

   .box3 {

      & h5 {
         margin-left: 260px
      }
   }

   .box4 {



      & h5 {
         margin-left: 260px
      }
   }
    
      .box1,
   .box2,
   .box3,
   .box4 {
      

      height: 275px;
      width: 275px;


   }
}