.row .left {
  background: url(fragrance-product-3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 693px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}